
CHOOSE_MUTATION = 0.5

PACKET_SELECTION_UNIFORM_DISTRIBUTION = 1

FUZZING_STATE_UNIFORM_DISTRIBUTION = 1

b = 0.5

FUZZING_INTENSITY = 0.25

CONSTRUCTION_INTENSITY = 3

TARGET_ADDR = 0.0.0.0

TARGET_PORT = 1883

VERBOSITY = 1

SIMILARITY_THRESHOLD = 0.3

TRIAGE_FAST = 0

take a while to find them.
TRIAGE_MAX_DEPTH = 3

CRASH_DIRECTORY = crashes

CRASH_FILENAME_PREFIX = target

MAXIMUM_PAYLOAD_LENGTH = 10000